.main-content
	#provider_top.row
		.col-md-4
			=image_tag @provider.image.url(:medium), class: "provider_image"
		.col-md-8
			#provider_info
				%h1= @provider.name
				%p.description= @provider.specialty.specialty
				%table.table.table-hover
					%thead
						%tr
							%th License State
							%th License Expiration
							%th{:colspan => "2"}
					%tbody
						- @provider.licexpirations.each do |lic_expiration|
							%tr
								%td= lic_expiration.license.state
								%td= lic_expiration.expiration_year

	.row
		.col-md-12
		#patients
			%h2 Patients
			%table.table.table-hover
				%thead
					%tr
						%th View Patient
						%th First Name
						%th Last Name
						%th{:colspan => "3"}
				%tbody
					- @provider.patients.each do |patient|
						%tr
							%td= link_to patient.member_id, patient
							%td= patient.last_name
							%td= patient.first_name

	.row
		.col-md-12
			#locations
				%h2 Locations
				%table.table.table-hover
					%thead
						%tr
							%th Address
							%th City
							%th State
							%th{:colspan => "3"}
					%tbody
						- @provider.locations.each do |location|
							%tr
								%td= location.street_1
								%td= location.city
								%td= location.state

	.row
		.col-md-12
			#appointments
				%h2 Appointments
				%table.table.table-hover
					%thead
						%tr
							%th Patient Last Name
							%th Patient First Name
							%th Patient First Name
							%th Appt Confirmed
							%th Appt Type
							%th{:colspan => "5"}
					%tbody
						- @provider.appointments.each do |appointment|
							%tr
								%td= link_to appointment.patient.last_name, appointment
								%td= appointment.patient.last_name
								%td= appointment.patient.first_name
								%td= appointment.apptconfirmed
								%td= appointment.appointmenttype.apptype
	Owned By
	= @provider.user.email

	.row
		.col-md-12
			= link_to "Back", root_path, class: "btn btn-default" 
			- if user_signed_in?
				= link_to "Edit", edit_provider_path, class: "btn btn-default" 
				= link_to "Delete", provider_path, method: :delete, data: { confirm: "Are you sure about that mofo?" }, class: "btn btn-default"	

