#banner
	.banner_content
		%h1 AACESO
		%p Your online guide to everything health...
		%button= link_to "Sign Up", new_user_registration_path

#testimonial
	.wrapper
		%p.quote "AAceso is the greatest thing ever.  It really helped make my process that much easier"
		%p.name - Mike Michaelson

#callouts
	.callout_inner
		.wrapper
			.callout
				%i.fa.fa-user-md
				%h2= link_to 'Providers', "/welcome/providerhome"
				%p Tilde master cleanse Pinterest, mustache bitters literally distillery Vice small batch Godard. Tote bag shabby chic authentic aesthetic quinoa tattooed. Organic sriracha polaroid dreamcatcher, jean shorts bicycle rights banjo skateboard DIY fap brunch fingerstache Tumblr. PBR swag ugh four loko.
			.callout
				%i.fa.fa-users          
				%h2= link_to 'Patients', "/welcome/patienthome"
				%p Gastropub meh church-key Brooklyn, wayfarers keffiyeh letterpress XOXO aesthetic vegan farm-to-table mixtape vinyl hella. Scenester cardigan vegan fingerstache keytar. Flexitarian tote bag normcore church-key freegan jean shorts Helvetica.
			.callout
				%i.fa.fa-hospital-o
				%h2= link_to 'Health Plans', "/welcome/healthplanhome"
				%p Williamsburg Schlitz Carles deep v brunch. Health goth tilde Shoreditch, VHS single-origin coffee pop-up messenger bag Brooklyn Godard four dollar toast squid iPhone pour-over stumptown mixtape. Twee sriracha actually, tattooed Intelligentsia street art Thundercats Marfa wolf chia flannel Kickstarter.
#bottom_cta
	.wrapper
		%h2 What are you waiting for?
		%p Understand how we can help make your access to care that much better
		%button= link_to "Sign Up Now", new_user_registration_path
		%br

%h2 AAceso Tweets
%ul
	- TwitterApi.our_public_tweets.each do |tweet|
		%li= tweet.text

%footer
	%p &copy; AAceso Health 2015


