%h1 PROVIDER HOMEPAGE
%p Homepage for provider viewing their own existing dashboard

%h3 Providers
%table.table.table-hover
	%thead
		%tr
			%th Thumbnail
			%th View Provider
			%th Provider Name
			%th Provider Specialty
			%th{:colspan => "3"}
	%tbody
		- current_user.providers.each do |provider|
			%tr
				%td= image_tag provider.image.url(:thumb)
				%td= link_to provider.npi, provider
				%td= provider.name
				%td= provider.specialty.specialty

%h3 Patients
%table.table.table-hover
	%thead
		%tr
			%th View Patient
			%th First Name
			%th Last Name
			%th{:colspan => "3"}
	%tbody
		- current_user.patients.each do |patient|
			%tr
				%td= link_to patient.member_id, patient
				%td= patient.first_name
				%td= patient.last_name

