%p#notice= notice
%h1 Listing Packitems
%table
  %thead
    %tr
      %th{:colspan => "3"}
  %tbody
    - @patient.each do |patient|
      %tr
        %td= patient.last_name
        %td= patient.first_name
        %td= link_to 'Show', patient
        %td= link_to 'Edit', edit_patient_path(patient)
        %td= link_to 'Destroy', patient, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Patient', new_patient_path
