.main-content
	#provider_top.row
		.col-md-4
			HOLD
		.col-md-8
			#provider_info
				%h1= @patient.last_name
				%p.description= @patient.first_name
				%p.description= @patient.member_id				

	.row
		.col-md-6
			#patients
				%h2 Appointments
				%ul
					- @patient.appointments.each do |appointment|
						%li= link_to appointment.provider.name, appointment

	.row
		.col-md-6
			#patients
				%h2 Providers
				%ul
					- @patient.patientrelations.each do |patientrelations|
						%li= patientrelations.provider.name


		.col-md-6
			#patients
				%h2 Plans

	.row
		.col-md-12
			= link_to "Back", root_path, class: "btn btn-default" 
			- if user_signed_in?
				= link_to "Edit", edit_patient_path, class: "btn btn-default" 
				= link_to "Delete", patient_path, method: :delete, data: { confirm: "Are you sure about that mofo?" }, class: "btn btn-default"	
				= link_to "Request Appointment", new_appointment_path, class: "btn btn-default" 